{% extends 'html/dashboard.html' %}
{% block content %}

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }
    
        h1 {
            text-align: center;
            padding: 20px;
        }

        /* Add styles to the table container to enable scrolling */
        .table-container {
            width: 80%;
            margin: 0 auto;
            border: 1px solid #ddd;
            background-color: white;
            overflow-y: auto; /* Add a vertical scroll bar */
            max-height: 400px; /* Set a maximum height for the table container */
        }
        
        /* Style the table header */
        .table-container table thead {
            background-color: #f2f2f2;
            position: sticky; /* Make the header sticky */
            top: 0; /* Stick the header to the top */
        }
    
        table {
            width: 100%; /* Adjust table width to 100% */
            border-collapse: collapse;
        }
    
        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd; /* Add right border to cells */
        }

        /* Style odd and even rows with different background colors */
        tr:nth-child(odd) {
            background-color: #f7f7f7;
        }

        /* Add a border to table rows */
        tr {
            border-left: 1px solid #ddd; /* Add left border to rows */
        }
    </style>

<body>
    <h1>Reports</h1>
    <!-- Add a div container with a fixed header -->
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Review</th>
                    <th>Ratings</th>
                </tr>
            </thead>
            <tbody>
                {% for review in reviews %}
                    <tr>
                        <td>{{ review.name }}</td>
                        <td>{{ review.department }}</td>
                        <td class="review">{{ review.review }}</td>
                        <td>{{ review.rating }}/5</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No reviews available.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}
